.offers{
    width: 80%;
    height: 80vh;
    display: flex;
    margin: 0px auto;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}

.offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px; 
}
@media(max-width: 1280px){
    .offers-left p{
        font-size: 20px;
    }
    .offers-left h1{
        font-size: 60px;
        line-height: 1.3;
    }
}

@media(max-width: 1024px){
    .offers-left p{
        font-size: 16px;
    }
    .offers-left h1{
        font-size: 40px;
        line-height: 1.3;
    }
    .offers-left button{
        width: 200px;
        height: 50px;
    }
    .offers-right img{
        width: 250px;
    }
    .offers{
        height: 50vh;
    }
}

@media(max-width: 800px){
    .offers-left p{
        font-size: 14px;
    }
    .offers-left h1{
        font-size: 30px;
        line-height: 1.3;
    }
    .offers-left button{
        width: 180px;
        height: 40px;
    }
    .offers-right img{
        width: 200px;
    }
    .offers{
        height: 50vh;
    }
}

@media(max-width: 500px){
    .offers-left p{
        font-size: 12px;
    }
    .offers-left h1{
        font-size: 20px;
        line-height: 1.3;
    }
    .offers-left button{
        width: 120px;
        height: 20px;
        font-size: 16px;
    }
    .offers-right img{
        width: 150px;
    }
    .offers{
        height: 30vh;
        margin-top: 300px;
    }
}
